header {
  color : white;
  background-color :#1F5D79;
  padding : 10px;
  margin:0px 0px 0px 0px;
  width : 100%;
  border:solid 1px white;}
  
header h1 {
  text-align : center;
  vertical-align : center;
  margin : 0px;
  font-size : 40px;  
  background-color:rgba(62, 182, 251, 0.1);}
  
header div {
  box-shadow : 30px 10px 5px #DBE9EF;
  border : 1px white solid}
  
header h1.statut{
  color : white;
  position : relative;
  text-align : center;
  font-size : 15px}
  
header p {
  text-align : center;
  vertical-align : center;
  font-weight : bold;
  font-size : 16px;
  font-family : FreeMono;}
  
header li {
  background : #4D575B;
  list-style-type : circle;
   text-align: center ;
   list-style-type: none;
   display: inline-block;
   max-width : 1100px;
   padding : 5px 20px 20px 20px;
   height : 0;
   font-weight : bold;
  border : 1px solid white;
  margin : 20px;}
  
header nav {
  text-align : center;}

header nav a {
  text-decoration : none;}
  
nav li:hover {
  background-color : gold;}
  
nav li a:hover {
  color : white;}
   
body a:hover{
  color:gold;}
  
body a:active {
  color : grey;}

header a {
  color : white;}   
  
footer a {
  color : white;}
  
footer2{
  position:absolute;
   padding-top : 25px;
    width: 101.55%;
    height:30px;
    color : white;
    font-weight : bold;
    text-align: center;}

footer2  a {
  color : white;
  position : aboslute;
  top : 50
  bottom : 1px;
  padding-bottom : 20px;}
  
  
body {
  margin : 0;
  background-image: linear-gradient(#1F5D79, #DBE9EF);
  position : relative;
} 
  
section {
  display : inline-block;
  height : 400px;
  width : 900px;
  position : relative;
  margin-left : 200px;
  margin-bottom : 100px;
  margin-top : 50px;
  max-height : 1200px;}
  
section2 {
  display : inline-block;
  margin-top : 50px;
  margin-left : auto;
  margin-right:auto;
  position : relative;
  margin-bottom : 100px;}
  
section4 {
  display : inline-block;
  margin-top : 50px;
  margin-left : auto;
  margin-right:auto;
  margin-bottom : 100px;}
  
section3 { 
  position : relative;
  margin : 30px;}
 
section5 {
  color : black;
  display : inline-block;
margin : 30px;
min-height: 100%;
position: relative;
 margin-bottom : 100px;}
 
section2 img {
  height : 100px;
  border : 1px solid black;
  float :left;
  margin-bottom : 50px;
  box-shadow : 10px 10px 10px;
  max-height : 100px;  }
  
 
section5 article {
  padding: 50;}
 
#polesig {
  width : 100;
  height : 100;
  margin-right : 10;
  float : left;}
 
#polesig2 {
  margin-top : 75;}


profil {
  background-color:#1F5D79;
  padding : 10px;
  width: 250px;
  height: 350px;
  border: 2px solid white;
  float : left;} 
  
profil figure {
  margin-left : 25px;}
  
profil img.profil {
  width: 200px;
  border-radius: 50%;
  border:solid 1px white;}  
  
profil img.icone {
  width: 10px;
  border : none;
  margin-right : 2px;}  
  
profil img.icone2 {
  width: 15px;
  border : none;}
  
profil p.infos {
  color : orange;
  text-align : center;
  font-weight : bold;}
  
profil p.infos2 {
  color : white;
  text-align : center;
  margin : 5px;}
  
profil a{
  color : white;}
  
aside {
  padding : 10px;
  width : 450px;
  height : 355px;
  float : right;
  color: white;
  font-weight : bold;
  text-align : center;
  background-color : #1F5D79; 
  margin-left : 100px;
  border: 2px solid white;}
  
aside p {
  padding : 15px;
  border-bottom : white 1px solid;
  font-size : 20px;
  text-align : center;}
  
aside a{
  color : white;
  text-decoration : none;}
  
article  {
  color : black ;
  background-color : #DBE9EF;
  border :4px solid #577284;
  padding : 10px 2% 10px 2%;
  margin : 0px 10% 20px 10%;
  padding : 15px;
  display : block;
  text-align : justify;
  max-width : 80%}

section3  {text-align : center;}

section4 fig{
	display : flex;
	justify-content : center;
  }

section4 img {
  border : #577284 2px solid;}
  
section4 code {
  padding : 800;
  font-style : italic;}
  
figcaption {
  font-style : italic;
  text-align : center;}



article img.metz {
  height : 40px;
  border : 1px solid black;
  margin-left : 30px;}

article img.caen {
  height : 40px;
  border : 1px solid black;
  margin-left : 30px;}
  
article img.fc {
  height : 40px;
  border : 1px solid black;
  margin-left : 30px;}

article h1 {
  text-align : center;
  margin : 0px;
  margin-right : 200px;}

article ol {
  display : inline;
  margin : 0px;
  list-style-type : disc;
  list-style-position : inside;}
  
article titre{
  display : inline-block;} 
  
table{
border : 6px ridge  #1F5D79;
border-collapse : collapse;
text-align : center;
margin : auto;
box-shadow : 10px 10px 10px #DBE9EF;}

table caption{
  color : white;
  text-shadow:0 4px 0 #00ecff
  font-weight : bold;
  padding-bottom : 10px;
  padding-top : 10px;
  font-size: 20px;
  font-family : Apple Chancery;}

td{
color : #073F5B;
border : 2px dashed #319ED4;
background-color : white;
padding : 5px;}

th{
color : black;
background-color : #DBE9EF;
border : 2px solid black;}

dt{font-style : italic;}

#langues {
margin-bottom : 25px;}

def{
  color : black ;
  background-color : rgba(255, 255, 255, 0.6);
  border :4px solid #577284;
  padding : 10px 2% 10px 2%;
  margin-left : auto;
  margin-right : auto;
  margin-top : 50px;
  padding : 15px;
  display : block;
  text-align : justify;
  max-width : 80%;
  width : 800px;
  height : 200px;
  overflow : auto;}
 

 
#figun {
  float : right}
  
#figdeux {
float : right;}

#figtrois {
  float : right;}
  
#figquatre {
  float : right;}

  article div {
    margin-top : 45px;}

article h3 {
  text-align : center;
  margin : 0;}
  
article h4 {
  font-size : 16px;
  text-decoration : underline;}
  
span.objectif {
  font-weight : bold;
  margin : 0;
  padding : 0;}
  
span.explication {
  font-style:italic}
  


 section5 article {
  display : block;;}

section5 img {border : 3px white solid}

#histoire {
  height : 180px;
  border-radius : 50%;
  margin : 15px;
  float : left;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  transform: rotate(7deg);}
  
#geomatique {
  height :150px;
  margin : 10px;
  margin-bottom : 100;
 webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  transform: rotate(-7deg);
float : right;}


footer {
  background-color :#1F5D79;
  position: absolute;
  bottom: 0;
 width: 101.55%;
  height: 50px;
  margin-top: 50px;
  text-align : center;header {
  color : white;
  background-color : rgba(62, 182, 251, 0.3);
  margin:0px 0px 0px 0px;
  width : 100%;
  border:solid 1px white;}
  
header h1 {
  text-align : center;
  vertical-align : center;
  margin : 0px;
  font-size : 40px;  
  background-color:rgba(62, 182, 251, 0.1);}
  
header div {
  box-shadow : 30px 10px 5px lightblue;
  border : 1px white solid}
  
header h1.statut{
  color : white;
  position : relative;
  text-align : center;
  font-size : 15px}
  
header p {
  text-align : center;
  vertical-align : center;
  font-weight : bold;
  font-size : 16px;
  font-family : FreeMono;}
  
header li {
  background : lightblue;
  list-style-type : circle;
   text-align: center ;
   list-style-type: none;
   display: inline-block;
   max-width : 1100px;
   padding : 5px 20px 20px 20px;
   height : 0;
   font-weight : bold;
  border : 1px solid white;
  margin : 20px;}
  
header nav {
  text-align : center;}

header nav a {
  text-decoration : none;}
  
nav li:hover {
  background-color : gold;}
  
nav li a:hover {
  color : white;}
   
body a:hover{
  color:gold;}
  
body a:active {
  color : grey;}

header a {
  color : white;}  
  
body {
  margin : 0;
  background-image: linear-gradient(lightblue, white);
  position : relative;
} 
  
section {
  display : inline-block;
  height : 400px;
  width : 900px;
  position : relative;
  margin-left : 200px;
  margin-bottom : 100px;
  margin-top : 50px;
  max-height : 1200px;}
  
section2 {
  display : inline-block;
  margin-top : 50px;
  margin-left : auto;
  margin-right:auto;
  position : relative;
  margin-bottom : 100px;}
  
section4 {
  display : inline-block;
  margin-top : 50px;
  margin-left : auto;
  margin-right:auto;
  position : relative;
  margin-bottom : 100px;}
  
section3 { 
  margin : 30px;}
 
section5 {
  display : inline-block;
margin : 30px;
min-height: 100%;
position: relative;
 margin-bottom : 100px;}
 
 section4 fig{
	display : flex;
	align-item : center;
	padding : 10px;
  }
 
profil {
	position : absolute;
  background-color:#89CDF4;
  padding : 10px;
  width: 250px;
  height: 350px;
  border: 2px solid white;} 
  
profil figure {
  margin-left : 25px;}
  
profil img.profil {
  width: 200px;
  border-radius: 50%;
  border:solid 1px white;}  
  
profil img.icone {
  width: 10px;
  border : none;
  margin-right : 2px;}  
  
profil img.icone2 {
  width: 15px;
  border : none;}
  
profil p.infos {
  color : black;
  text-align : center;
  font-weight : bold;}
  
profil p.infos2 {
  color : white;
  text-align : center;
  margin : 5px;}
  
aside {
  position : absolute;
  padding : 10px;
  width : 450px;
  height : 355px;
  color: white;
  font-weight : bold;
  text-align : center;
  background-color : #89CDF4; 
  border: 2px solid white;}
  
aside p {
  padding : 15px;
  border-bottom : white 1px solid;
  font-size : 20px;
  text-align : center;}
  
aside a{
  color : white;
  text-decoration : none;}
  
article  {
  color : black ;
  background-color : rgba(255, 255, 255, 0.6);
  border :4px solid #577284;
  padding : 10px 2% 10px 2%;
  margin : 0px 10% 20px 10%;
  padding : 15px;
  display : block;
  text-align : justify;
  max-width : 80%}

section3  {text-align : center;}



section2 img {
  height : 40px;
  border : 1px solid black;
  float :left;
  margin-left : 10px;
  box-shadow : 10px 10px 10px; }

article img.caen {
  height : 40px;
  border : 1px solid black;
  margin-left : 30px;}
  
article img.fc {
  height : 40px;
  border : 1px solid black;
  margin-left : 30px;}

article h1 {
  text-align : center;
  margin : 0px;
  margin-right : 200px;}

article ol {
  display : inline;
  justify : baseline;
  margin : 0px;
  list-style-type : disc;
  list-style-position : inside;}
  
article titre{
  display : inline-block;} 
  
table{
border : 6px ridge  #41B7F2;
border-collapse : collapse;
text-align : center;
margin : auto;
box-shadow : 10px 10px 10px lightblue;}

table caption{
  font-weight : bold;
  padding-bottom : 10px;
  padding-top : 10px;
  font-size: 20px;
  font-family : Apple Chancery;}

td{
color : #073F5B;
border : 2px dashed #319ED4;
background-color : white;
padding : 5px;}

th{
color : black;
background-color : #D1EEFD;
border : 2px solid black;}

dt{font-style : italic;}

#langues {
margin-bottom : 25px;}

def{
  margin-left : auto;
  margin-right : auto;
  color : black ;
  background-color : rgba(255, 255, 255, 0.6);
  border :4px solid #577284;
  padding : 10px 2% 10px 2%;
  padding : 15px;
  text-align : justify;
  max-width : 80%;
  width : 800px;
  height : 200px;
  overflow : auto;}
 

 
#figun {
  float : right}
  
#figdeux {
float : right;}

#figtrois {
  float : right;}
  
#figquatre {
  float : right;}

  article div {
    margin-top : 45px;}

article h3 {
  text-align : center;
  margin : 0;}
  
article h4 {
  font-size : 16px;
  text-decoration : underline;}
  
span.objectif {
  font-weight : bold;
  margin : 0;
  padding : 0;}
  
span.explication {
  font-style:italic}
  


 section5 article {
  display : block;;}

section5 img {border : 3px white solid}

#histoire {
  height : 180px;
  border-radius : 50%;
  margin : 15px;
  float : left;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  transform: rotate(7deg);}
  
#geomatique {
  height :150px;
  margin : 10px;
  margin-bottom : 100;
 webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  transform: rotate(-7deg);
float : right;}




  
  
